{% extends 'core/base.html'%}
{%block title%}Nosotros{% endblock %}
{%block content%}
    {% load static %}
<body>
 <!--inicio body-->
     <!--LABEL CONOCENOS--> 
    
      <form enctype="text/plain">
        <div class="card">
            <div class="d.none d-md-block mt-4 mb-4"></div>
            <div class="card-header">
                <h3 class="card-title">Conocenos</h3>
            </div>
            <div class="card-body">
            </div>
        </div>
                  
     <!--Fin -->


        <div class="row ">            
            <div class="col-md-4 mb-2 mt-2">
                <div class="card bg-dark text-white">
                    <img class="card-img-top" src="{% static 'core/img/Integrantes/Felipe.jpg' %}" alt="Imagen">
                    <div class="card-body">
                        <h4 class="card-title">Felipe Ramirez</h4>
                        <p class="card-text">Integrante del equipo creador de ésta página y proyecto en general. Estudiante de DuocUC - Analista programador computacional
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-2 mt-2">
                <div class="card bg-dark text-white">
                    <img class="card-img-top" src="{% static 'core/img/Integrantes/sebac.jpg' %}" alt="Imagen">
                    <div class="card-body">
                        <h4 class="card-title">Sebastián Castro</h4>
                        <p class="card-text">Integrante del equipo creador de ésta página y proyecto en general. Estudiante de DuocUC - Analista programador computacional</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-2 mt-2">
                <div class="card bg-dark text-white">
                    <img class="card-img-top" src="{% static 'core/img/Integrantes/Diego.jpg' %}" alt="Imagen">
                    <div class="card-body">
                        <h4 class="card-title">Diego Restrepo</h4>
                        <p class="card-text">Integrante del equipo creador de ésta página y proyecto en general. Estudiante de DuocUC - Analista programador computacional</p>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <div class="container">
            <div class="col-sm-12">
                <div class="card" >
                    <img class="card-img-top" src="{% static 'core/img/fondo2.jpg' %}" style="width: 1200px; height: 500px;" alt="Fondohardware">
                    <div class="card-img-overlay">
                        <h4 class="card-title text-white text-center">Sobre nosotros</h4>
                        <p class="card-text text-white text-wrap d-none d-md-block" style="text-align:center; font-size: 10mm;">Vision Gaming es una empresa creada por un grupo de profesionales jovenes  , enfocados en entregar un servicio personalizado y de calidad .</a>
                            <br>
                            <img src="{% static 'core/img/logo2.png' %}" style="height: 117px ; width: 500px;" alt="">                        
                    </div>
                </div>
            </div>
        </div>



</main>

</body>
</html>
{% endblock %}