{% extends 'core/base.html'%}
{%block title%}Nosotros{% endblock %}
{%block content%}

    {% load static %}
    {% load crispy_forms_tags %}

    
    <div class="card">
        <div class="card-body">
            

            <div class="row">
                <div class="col-12 col-md-6 offset-md-3">

                    <form action="" method="post">

                        {% csrf_token %}
                        {{ form | crispy }}

                        <div class="d-flex justify-content-center">
                            <input type="reset" value="Cancelar">
                            <input type="submit" value="Enviar">
                        </div>
                    </form>
                    {{mensaje}}

                </div>
            </div>




        </div>
    </div>
      
   
    

    <!-- Preacargar JS Boostrap al final del documento -->
    <!-- El orden de carga es jQuery, Popper.js, Boostrap.js -->
    <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    
</body>
</html>
{% endblock %}