{% extends 'core/base.html'%}
{%block title%}Nosotros{% endblock %}
{%block content%}
    {% load static %}
    {% load crispy_forms_tags %}


 <!--LABEL Catalogo--> 
 <form enctype="text/plain">
    <div class="card">
        <div class="d.none d-md-block mt-4 mb-4"></div>
        <div class="card-header">
            <h2 class="card-title" style="text-align:center;">Cotiza el PC de tus sueños
            </h2>
        </div>
        <div class="card-body">
            <h3 style="text-align: center;">¡La mejor herramienta para crear el PC que siempre soñaste!</h3>
        </div>
    </div>
              
 <!--Fin -->


 <!--cotizacion-->

 <div class="card">
    <div class="card-body">
        

        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">

                <form action="" method="post">
                    <div class="container">
                        <div class="table-responsive-md">
                            <div class="row ">
                                <div class="col-md-6">
                                    {% csrf_token %}
                                    {{ form | crispy }}
                                    <div class="d-flex justify-content-center">
                                        <input style="color: grey" type="reset" value="Cancelar">
                                        <input class="btn btn-secondary" type="submit" value="Enviar">
                                    </div>                                
                                </div>
                                <div class="col-md-6">
                                    <br><br><br>
                                    <div class="card text-white   " style="background-color: #D72631; border-color: black; width: 10cm; height: 5cm;">
                                        <img src="{% static 'core/img/pc-icono.png' %}" style="height: 2cm; width: 2cm; margin-left: 9rem;" alt="icono">
                                        <div class="card-img-overlay">
                                            <br><br>
                                        <h4 class="card-title" style="text-align: center;">Recuerda que el precio final de tu PC tendrá descuento si nos envias tu cotización</h4>
                                        </div>
                                    </div>
                                    <br><br><br>
                                    <div class="card text-white   " style="background-color: gray; border-color: black; width: 10cm; height: 5cm;">
                                        <img src="{% static 'core/img/medalla-icono.png' %}" style="height: 3cm; width: 3cm; color: black; margin-left: 8rem;" alt="icono-medalla">
                                        <div class="card-img-overlay">
                                            <br><br><br>
                                        <h4 class="card-title" style="text-align: center;">Todos los PC ensamblados en Vision Gaming cuentan con un año de garantía</h4>
                                        </div>
                                    </div>
                                </div>                            
                            </div>                       
                        </div>
                    </div>
                </form>
                {{mensaje}}

            </div>
        </div>
                   
    </div>
</div>               
</producto>


</body>
</html>
{% endblock %}