{% extends 'core/base.html'%}
{%block title%}Nosotros{% endblock %}
{%block content%}
    {% load static %}
<!--Fin navbar-->
<div class="container">
    <div class="jumbotron text-center mb-8">
        <h1>Bienvenido a VisionGaming</h1>
        <h3 id="saludo"></h3>
    </div>
</div>
<body>

    

    <!--banners publicidad-->
    <div class="float-md-left" style="margin-top: 3ch;">
        <a href="https://www.pccomponentes.com/ofertas-especiales?utm_source=789725&utm_medium=afi&utm_campaign=fanaticosdelhardware.com&awc=20982_1619037430_841224f91a00c7b1f65aeda08106b992&utm_term=deeplink&utm_content=">
            <img src="{% static 'core/img/pcc_banner.jpg'%}" alt="banner">
        </a>
    </div>
    <div class="float-md-right" style="margin-top: 3ch;">
        <a href="https://www.aussar.es/?aff=2&__cf_chl_jschl_tk__=083b16173afcda70fedd65345775c20e5f29eb10-1619037472-0-ASQz83D7fCskgtA_IJY6u7rdcoBn721PsjpEBaL18Ja2XwRBCbhfddEcOZ0eAVbe8ifazDygPSGvZzXC4i10Hp0j3WITi9wd82Jr6hz_OlHgaDL0fJBva01UskuRw5BN8lR3z3GirtBwdHow0jjEtyP024KNuL7LdPbzGtMxWX5IZSdXaJbgFkUxKdQt3rybTUt_yEVRrjXse4dntYCpT2JeXnDOcB5adnn3Fc-W5-yHimFqf8CkduGVaX4iHd9QbJRP1zooCjbSnQI-VlWGVfk2PnRqEU4ZCZ1FKbeKJOdZVzzd8z-xpAsO4srHESvk3XsuD_CfGPB4Rk35RUif_IDG3qsc6fNNEvNdWklejLbEsZpH78zYHlTrcz7hS08n9g">
            <img src="{% static 'core/img/banner2.jpg' %}" alt="banner">
        </a>
    </div>
    <!--fin banners publicidad-->

    <!-- Carrousel Section -->
    <div class="container mt-4 mb-4">
        <div class="row">
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <!--Indicadores-->
                <ul class="carousel-indicators">
                  <li data-target="#carousel" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel" data-slide-to="1"></li>
                  <li data-target="#carousel" data-slide-to="2"></li>
                  <li data-target="#carousel" data-slide-to="3"></li>
                </ul>

                <!-- Slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'core/img/hardware1.jpg' %}" class="img-fluid" alt="Hardware parts" width="1200" height="500">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'core/img/hardware2.jpg' %}" class="img-fluid" alt="Procesador" width="1200" height="500">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'core/img/hardware3.JPG' %}" class="img-fluid" alt="Graficas" width="1200" height="500">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'core/img/hardware4.JPG' %}" class="img-fluid" alt="Teclado" width="1200" height="500">
                    </div>
                </div>

                <!-- Controles -->
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <!-- FIN Carrousel Section -->

    <br>

    <div class="container">
        <h1 class="display-4">Recién Llegados</h1>
        <hr>
        <div class="row mt-4 mb-4">
            <div class="col-md-4 mb-2 mt-2">
                <div class="card ">
                    <div class="card-header">
                        <img class="card-img-top" src="{% static 'core/img/3090.png' %}" alt="3090">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Zotac GAMING GeForce RTX 3060 Twin Edge OC</h4>
                        <p class="card-text">
                        <ul style="list-style-type: none;">
                            <li class="text-align: justify"><b>Fabricante</b> Zotac</li>
                            <li class="text-align: justify"><b>GPU</b> NVIDIA GeForce RTX 3060</li>
                            <li class="text-align: justify" ><b>Memoria</b> 12 GB GDDR6</li>
                            <li><br></li>
                            <li class="text-center">$ 749.990</li>
                        </ul></p>
                    </div>
                    <div class="card-footer">
                        <a href="https://www.solotodo.cl/products/100883-zotac-gaming-geforce-rtx-3060-twin-edge-oc-zt-a30600h-10m" class="btn btn-secondary" >Ver detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-2 mt-2">
                <div class="card ">
                    <div class="card-header" >
                        <img class="card-img-top " src="{% static 'core/img/logitech g pro.png' %}" alt="Imagen" >
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Logitech G Pro Wireless Gaming Mouse - Black</h4>
                        <p class="card-text">            
                        <ul style="list-style-type: none;">
                            <li class="text-align: justify"><b>Marca</b> Logitech</li>
                            <li class="text-align: justify"><b>Tracking</b> Logitech Hero [Óptico]</li>
                            <li class="text-align: justify"><b>Cantidad de botones</b> 8</li>
                            <li><br></li>
                            <li class="text-center">$ 199.990</li>
                        </ul></p>
                    </div>
                    <div class="card-footer">
                        <a href="https://www.solotodo.cl/products/88085-logitech-g-pro-wireless-gaming-mouse-black-910-005270" class="btn btn-secondary" >Ver detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-2 mt-2">
                <div class="card ">
                    <div class="card-header">
                        <img class="card-img-top" src="{% static 'core/img/intel.png' %}" alt= "Imagen">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Intel Core i9-9900K Coffee Lake</h4>
                        <p class="card-text">
                        <ul style="list-style-type: none;">
                            <li class="text-align: justify"><b>Frecuencia</b> 3600 MHz</li>
                            <li class="text-align: justify"><b>Frecuencia turbo máxima</b> 5000 MHz</li>
                            <li class="text-align: justify"><b>Núcleos / hilos </b>8 núcleos / 16 hilos</li>
                            <li class="text-center"><br>$ 491.872</li>
                        </ul></p></p>
                    </div>
                    <div class="card-footer">
                        <a href="https://www.solotodo.cl/products/52663-intel-core-i9-9900k-bx80684i99900k" class="btn btn-secondary" >Ver detalles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <br>

    <!--Inicio tablist-->
    <div class="container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"
              style="border-color: white; color: black; border-bottom-color: black;"><h2><b>Más Vendidos</b></h2></button>
              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"
              style="border-color: white; color: black; border-bottom-color: black;"><h2><b>Ofertas</b></h2></button>
              <hr>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row mt-4 mb-4">
                    <div class="card-deck">
                        <div class="card">
                            <a href="https://www.solotodo.cl/products/104593-acer-aspire-nitro-5-an515-55-73u7-1-nhqb2al0041">
                                <img class="card-img-top" src="{% static 'core/img/note.png' %}" alt="Imagen">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">Acer Aspire Nitro 5</h4>
                                <p class="card-text">
                                    <ul style="list-style-type: none;">
                                    <li ><b>Procesador </b>Intel Core i7-10750H</li>
                                    <li><b>RAM </b>16 GB DDR4</li>
                                    <li><b>Almacenamiento</b>SSD 512GB</li>
                                    <li><b>Tarjetas de video </b>NVIDIA GeForce RTX 3060</li>
                                    <li class="text-center">$ 1.199.990  </li>
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="https://www.solotodo.cl/products/104593-acer-aspire-nitro-5-an515-55-73u7-1-nhqb2al0041" class="btn btn-secondary" >Ver detalles</a>
                            </div>
                        </div>
                        <div class="card">
                            <a href="https://www.solotodo.cl/products/81452-logitech-g203-lightsync-black-910-005793">
                                <img class="card-img-top" src="{% static 'core/img/mause.png' %}" alt="Imagen">
                             </a>
                            <div class="card-body">
                                <h4 class="card-title">Logitech G203 Lightsync Black</h4>
                                <p class="card-text">
                                    <ul style="list-style-type: none;">
                                    <li ><b>Marca </b>Logitech</li>
                                    <li><b>Tracking </b>Logitech Mercury</li>
                                    <li><b>Cantidad de botones</b>6</li>
                                    <li><b>DPI máximo </b> 8000</li>
                                    <li><br><br></li>
                                    <li class="text-center">$ 19.800</li>
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="https://www.solotodo.cl/products/81452-logitech-g203-lightsync-black-910-005793" class="btn btn-secondary" >Ver detalles</a>
                            </div>
                        </div>
                        <div class="card ">
                            <a href="https://www.solotodo.cl/products/48372-redragon-devarajas-k556rgb">
                                <img class="card-img-top" src="{% static 'core/img/teclado.png' %}" alt="Imagen">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">Redragon Devarajas</h4>
                                <p class="card-text">
                                    <ul style="list-style-type: none;">
                                    <li ><b>Marca </b>Redragon</li>
                                    <li><b>Tipo </b>Mecánico</li>
                                    <li><b>Retroiluminación</b>RGB Programable</li>
                                    <li><b>Tecnología conexión </b>USB 2.0</li>
                                    <li><br><br></li>
                                    <li class="text-center">$ 181.990</li>
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="https://www.solotodo.cl/products/48372-redragon-devarajas-k556rgb" class="btn btn-secondary" >Ver detalles</a>
                            </div>
                        </div>
                        <div class="card ">
                            <a href="https://www.solotodo.cl/products/96366-dragster-gt500-sky-blue-gt500sb">
                                <img class="card-img-top" src="{% static 'core/img/silla.png' %}" alt="Imagen">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">Dragster GT500 - Sky Blue</h4>
                                <p class="card-text">
                                    <ul style="list-style-type: none;">
                                    <li ><b>Marca </b>Dragster</li>
                                    <li><b>Part number </b>GT500SB</li>
                                    <li><b>Color </b> Celeste</li>
                                    <li><b>Peso soportado </b>180 kg.</li>
                                    <li><br><br><br></li>
                                    <li class="text-center">$ 199.990</li>
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="https://www.solotodo.cl/products/96366-dragster-gt500-sky-blue-gt500sb" class="btn btn-secondary" >Ver detalles</a>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="row mt-4 mb-4">
                    <h3 class="display-4">Manejo de CARDS usando CARDS DECK</h3>
                    <div class="card-deck">
                        <div class="card bg-dark text-white">
                            <a href="#">
                                <img class="card-img-top" src="http://picsum.photos/300/300" alt="Imagen">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">Santiago</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est repellendus et eaque debitis veniam doloremque nesciunt atque quod vitae sapiente!</p>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="card-link">Ver detalles</a>
                            </div>
                        </div>
                        <div class="card bg-dark text-white">
                            <img class="card-img-top" src="http://picsum.photos/400/400" alt="Imagen">
                            <div class="card-body">
                                <h4 class="card-title">Santiago</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est repellendus et eaque debitis veniam doloremque nesciunt atque quod vitae sapiente!</p>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="card-link">Ver detalles</a>
                            </div>
                        </div>
                        <div class="card bg-dark text-white">
                            <img class="card-img-top" src="http://picsum.photos/600/600" alt="Imagen">
                            <div class="card-body">
                                <h4 class="card-title">Santiago</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est repellendus et eaque debitis veniam doloremque nesciunt atque quod vitae sapiente!</p>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="card-link">Ver detalles</a>
                            </div>
                        </div>
                        <div class="card bg-dark text-white">
                            <img class="card-img-top" src="http://picsum.photos/700/700" alt="Imagen">
                            <div class="card-body">
                                <h4 class="card-title">Santiago</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est repellendus et eaque debitis veniam doloremque nesciunt atque quod vitae sapiente!</p>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="card-link">Ver detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
    <!--fin tablist-->

       <!--Footer Section -->
       
       <!-- FIN Footer Section -->

       <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
       <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>




</body>
</html>
{% endblock %}