{% extends 'core/base.html'%}
{%block title%}Nosotros{% endblock %}
{%block content%}
    {% load static %}
<!--Fin navbar-->

    

    <!--LABEL Contacto--> 
     <div class="container">
     <form enctype="text/plain">
        <div class="card">
            <div class="d.none d-md-block mt-4 mb-4"></div>
            <div class="card-header">
                <h2 class="card-title" style="text-align:left; margin-left: 5cm;">Iniciar sesión</h2>
            </div>
        </div> 
    </div>            
    <!--Fin -->

    <div class="container">
        <div class="table-responsive-md">
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="email-usuario" class="col-sm-4 col-form-label font-weight-bold">Correo/Usuario:</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" id="email-usuario" name="email-usuario" placeholder="" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-sm-4 col-form-label font-weight-bold">Contraseña:</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="password" id="password" name="password" required>
                                </div>
                            </div>
                        </div>

                        <input type="submit" class="btn btn-primary" style="max-width: 6em; margin-left: 1em; margin-bottom: 1em;" id="Ingresar" value="Ingresar">
                        <br>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 style="text-align: left;">¿No tienes cuenta en Vision Gaming?</h4>
                            <h6> te puedes registrar en <a href="/registro/" style="color: red;">registrar</a></h6>
                            <br>
                            <H6>También puedes acceder con tu cuenta de Facebook</H6>
                            <a href="https://web.facebook.com/"><input type="button" class="btn btn-primary" style="margin-bottom: 3mm; min-width: 9cm; min-height: 3em; background-color: royalblue; border-color: royalblue; font-size: 20px;" id="Facebook" value="Entrar con FACEBOOK"></a>
                            
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



       <!--Footer Section -->
       
       <!-- FIN Footer Section -->

    <!-- Preacargar JS Boostrap al final del documento -->
    <!-- El orden de carga es jQuery, Popper.js, Boostrap.js -->
    <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    

</html>

{% endblock %}