{% extends 'core/base.html'%}
{%block title%}Registro{% endblock %}
{%block content%}
    {% load static %}
    {% load crispy_forms_tags %}


    <script>
        $(function() 
    {
       $("#formuls").validate({
            rules: {

                    usuario: {
                        required: true,
                        type: "text"
                    },
                    rut: {
                        required: true,
                        maxlength: "9"
                        
                    },
                    mails: {
                        required: true,
                        email:true
                    },
                    numbers: {
                        required: false,
                        minlength:"8",
                        maxlength:"12"
                    },

                },
                messages: {
                    usuario: {
                        required:'ingresa un nombre'
                    },
                    rut: {
                        required: 'ingresa tu rut porfavor',
                    },

                    mails: {
                        required: 'Ingresa un mail',
                    },

                },
                    numbers: {
                        minlength:"El largo no puede ser menor a 8",
                        maxlength:"El largo no puede ser mayor a 12"

                    }
                    
        });
        
    });
    </script>


<div class="card">
    <div class="card-body">
        

        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">

                <form action="" method="post">
                    <div class="container">
                        <div class="table-responsive-md">
                            <div class="row ">
                                <div class="col-md-6">
                                    {% csrf_token %}
                                    {{ form | crispy }}
                                    <div class="d-flex justify-content-center">
                                        <input style="color: grey" type="reset" value="Cancelar">
                                        <input class="btn btn-secondary" type="submit" value="Enviar">
                                    </div>                                
                                </div>
                                <div class="col-md-6">
                                    <img src="{% static 'core/img/promo newsletter/promo.jpg' %}" alt="">
                                    
                                </div>                            
                            </div>                       
                        </div>
                    </div>
                </form>
                {{mensaje}}

            </div>
        </div>
                   
    </div>
</div>                                           
                                



    
   
    

    
</body>
</html>
{% endblock %}